<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csun.team5.pronounce_a_pal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LandingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TrainingActivity" />
        <activity android:name=".EvaluationActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUp2Activity" />
        <activity android:name=".SignUp1Activity" />
        <activity android:name=".SignUp3Activity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Result1Activity" />
        <activity android:name=".Result2Activity" />
        <activity android:name=".Home1Activity" />
        <activity android:name=".Home2Activity" />
        <activity android:name=".Home3Activity" />
        <activity android:name=".FailActivity" />
        <activity android:name=".Fail1Activity" />
        <activity android:name=".SignUp4Activity" />
        <activity android:name=".SignUp5Activity" />
        <activity android:name=".SignUp6Activity" />
        <activity android:name=".SignUp7Activity" />
        <activity android:name=".SignUp8Activity" />
        <activity android:name=".InitialActivity" />
        <activity android:name=".RecordInitial2Activity" />
        <activity android:name=".RecordInitial11Activity" />
        <activity android:name=".RecordInitial12Activity" />
        <activity
            android:name=".RecordInitial26Activity"
            android:label="@string/title_activity_record_initial26"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RecordInitial6Activity"
            android:label="@string/title_activity_record_initial6"
            android:theme="@style/AppTheme" />
        <activity android:name=".RecordInitial7Activity" />
        <activity
            android:name=".RecordInitial8Activity"
            android:label="@string/title_activity_record_initial8"
            android:theme="@style/AppTheme" />
        <activity android:name=".RecordInitial9Activity" />
        <activity
            android:name=".RecordInitial10Activity"
            android:label="@string/title_activity_record_initial10"
            android:theme="@style/AppTheme" />
        <activity android:name=".RecordInitial13Activity" />
        <activity android:name=".RecordInitial14Activity" />
        <activity android:name=".RecordInitial24Activity" />
        <activity android:name=".RecordInitial25Activity" />
        <activity android:name=".RecordInitial1Activity" />
        <activity android:name=".RecordInitial3Activity" />
        <activity android:name=".RecordInitial4Activity" />
        <activity android:name=".RecordInitial5Activity" />
        <activity android:name=".RecordInitial11Activity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>